<nav class="secondary-nav">
    <div class="menu-bar hamburger" [ngClass]="{'is-active': navState=='expanded'}" id="hamburger-1" (click)="toggleSideMenu()">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
    </div>
        <!-- <kendo-svg-icon (click)="toggleSideMenu()" class="menu-icon icon" [icon]="icons.menu"></kendo-svg-icon> -->
    <div class="side-menu" [@toggleSideMenu]="navState">
        <!-- <span class="side-menu-close">
            <kendo-svg-icon (click)="toggleSideMenu()" class="close-icon icon" [icon]="icons.x"></kendo-svg-icon>
        </span> -->
        <p>Origination</p>
        <ul class="side-menu-ul">
            <li *ngFor="let item of sideMenu">
                <a [href]="item.url">{{ item.name }}</a>
            </li>
        </ul>
        <!-- <accordion 
            [options]="options" 
            [menus]="menus">
        </accordion> -->
    </div>
    <p class="para">Blackstone 2018 Industrial Portfolio | Tracking # 71222 | Loan # 706110512 | Product: Core | Global Region: Americas | Capital Source: General Account | Currency: USD</p>
    <ul class="right-menu">
        <li class="nav-item">
            <kendo-dropdownlist [data]="listItems"></kendo-dropdownlist>
        </li> 
        <li class="nav-item">
            <kendo-dropdownlist [data]="listItems"></kendo-dropdownlist>
        </li> 
        <li class="nav-item">
            <kendo-dropdownlist [data]="listItems"></kendo-dropdownlist>
        </li> 
    </ul>
</nav>  