.secondary-nav{
    background-color: #293743;
    padding: 8px 15px;
    text-align: right;
    position: relative;
    .right-menu{
        width: 60%;
        margin-bottom: 0;
        display: inline-block;
        li{
            display: inline-block;
            margin-left: 10px;
        }
    }
    .left-menu{
        width:20%
    }
}
.k-dropdown-wrap .k-input{
    height: calc(0.75rem + 0.5em);
    font-size: 0.8rem;
    padding-top: 10px;
}
.para{
    margin-bottom: 0.3rem;
    color: #fff;
    font-size: 0.8rem;
}
.menu-bar{
    position: absolute;
    top: 15px;
    cursor: pointer;
    left: 15px;
}
.menu-icon{
    font-size: 1.4rem;
    &:hover{
        color: #bfb200;
    }
}
.side-menu{
    width: 300px;
    background: #fff;
    height: 100vh;
    position: absolute;
    top: 100%;
    transition: all 0.3s ease;
    left: -100%;
    box-shadow: 0 0 15px 0px #80808052;
    p{
        text-align: left;
        padding-left: 35px;
        padding-top: 10px;
        margin-bottom: 4px;
        color: #b63b4d;
        font-size: 14px;
        font-weight: bold;
    }
}
.side-menu-close{
    position: absolute;
    left: 100%;
    background: #fff;
    padding: 3px 10px 3px 3px;
    border-radius: 0 15px 15px 0;
    border-left: 1px solid #2938438c;
    cursor: pointer;
}
.close-icon{
    color: #293843;
}

.hamburger .line{
    width: 30px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    display: block;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
      .line{
        background-color:rgb(255 255 255);
      }
    cursor: pointer;
  }
  
  /* ONE */
  
  #hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
  }
  
  #hamburger-1.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }
  
  #hamburger-1.is-active .line:nth-child(3){
    -webkit-transform: translateY(-4px) rotate(-45deg);
    -ms-transform: translateY(-4px) rotate(-45deg);
    -o-transform: translateY(-4px) rotate(-45deg);
    transform: translateY(-4px) rotate(-45deg);
  }