<nav class="secondary-nav">
    <p class="para">Blackstone 2018 Industrial Portfolio | Tracking # 71222 | Loan # 706110512 | Product: Core | Global Region: Americas | Capital Source: General Account | Currency: USD</p>
    <ul class="right-menu">
        <li class="nav-item">
            <kendo-dropdownlist [data]="listItems"></kendo-dropdownlist>
        </li> 
        <li class="nav-item">
            <kendo-dropdownlist [data]="listItems"></kendo-dropdownlist>
        </li> 
        <li class="nav-item">
            <kendo-dropdownlist [data]="listItems"></kendo-dropdownlist>
        </li> 
    </ul>
</nav>