.secondary-nav{
    background-color: #293743;
    padding: 8px 15px;
    text-align: right;
    position: relative;
    .right-menu{
        width: 60%;
        margin-bottom: 0;
        display: inline-block;
        li{
            display: inline-block;
            margin-left: 10px;
        }
    }
    .left-menu{
        width:20%
    }
}
.k-dropdown-wrap .k-input{
    height: calc(0.75rem + 0.5em);
    font-size: 0.8rem;
    padding-top: 10px;
}
.para{
    margin-bottom: 0.3rem;
    color: #fff;
    font-size: 0.8rem;
}
.menu-bar{
    position: absolute;
    top: 19px;
    cursor: pointer;
}
.menu-icon{
    font-size: 1.4rem;
}
.side-menu{
    width: 300px;
    background: #fff;
    height: 100vh;
    position: absolute;
    top: 0;
    transition: all 0.3s ease;
    left: -100%;
    box-shadow: 0 0 15px 0px #80808052;
}
.side-menu-close{
    position: absolute;
    left: 100%;
    background: #fff;
    padding: 3px 10px 3px 3px;
    border-radius: 0 15px 15px 0;
    border-left: 1px solid #2938438c;
    cursor: pointer;
}
.close-icon{
    color: #293843;
}