.navbar{
    background: #0b629c;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
}
.navbar-light .navbar-brand {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #bfb200;
}
.navbar-light .navbar-nav .nav-link{
    padding-top: 22px;
    padding-bottom: 22px;
    transition: 0.3s;
    padding-left: 15px;
    padding-right: 15px;
        font-size: 14px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #bfb200;
    transition: 0.3s;
}
.dropdown-item:focus, .dropdown-item:hover {
   color: #bfb200;
   background-color: #3c434a;
   text-decoration: none;
}
.sm-menu{
   border-radius: 0px;
   border: 0px;
   top: 97%;
   box-shadow: rgba(173, 173, 173, 0.2) 1px 3px 4px 0px;
}
.dropdown-item {
   color: #fff;
    font-size: 14px;
}
.dropdown-item.active, .dropdown-item:active {
   color: #fff;
   text-decoration: none;
   background-color: #2196F3;
}
.navbar-toggler{
   outline: none !important;
}
.navbar-tog{
   color: #1ebdc2;
}
.megamenu-li {
   position: static;
}
.dropdown-wrapper{
    overflow: hidden;
}
.megamenu {
   position: absolute;
   width: 100%;
   left: 0;
   right: 0;
   padding: 0px;
   background: rgb(68, 76, 84);
   display: block;
}
.megamenu h6{
   margin-left: 21px;
   color: #e6c100d1;
}
.megamenu i{
   width: 20px;
}
.right_menu{
    left: auto;
    right: 14px;
}
.dropdown-item.level-1{
    position: relative;
    &:before{
        content: '';
        position: absolute;
        left: 6px;
        font-size: 25px;
        top: 12px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid white;
        transition: all 0.3s ease;
        transform: rotate(-90deg);
    }
    .dropdown-level-1{
        padding-bottom: 10px;
        display: none;
        position: absolute;
        left: 0px;
        transition: all 0.3s ease;
        top: 100%;
        background-color: #3c434a;
        z-index: 2;
        width: 100%;
        li{
            margin-left: 15px;
        }
    }
    &:hover{
        &:before{
            transform: rotate(0deg);
        }
        .dropdown-level-1{
            display: block;
        }
    }
}
.dropdown-level-1{
    span{
        display: block;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.f-block{
    width:28%;
    vertical-align: top;
    float:left;
    min-height: 90vh;
    background-color: #313131;
    padding: 12px;
}
.mm-block{
    width: 72%;
    float:left;
}
.m-block{
    width: 25%;
    display: inline-block;
    vertical-align: top;
    padding: 10px 0;
    border-right: 1px solid #636363 !important;
}
.f-menu-block{
    min-height: 30vh;
    overflow: visible;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
}
.h-menu-block{
    min-height: 30vh;
    overflow: visible;
    padding: 10px 0;
    ul{
        margin-left: 0;
        padding-left: 0px;
        li{
            position: relative;
            padding-left: 5px;
        }
    }
    a{
        font-size: 12px;
        color: #6c94d2;
    }
}
.icon{
    color: #fff;
    font-size: 1.2rem;
}
.secondary-nav-wrapper{
    width:100%
}
span#dropdown01:after {
    content: "\e006";
    font-family: "WebComponentsIcons";
    padding: 5px;
    vertical-align: top;
}