<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top col-xs-12"
    *ngIf="showNav()">
            <a class="navbar-brand" href="#"><img src="../../assets/PGIM_RE_Logo_White_Cropped.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" [@toggleNav]="navState" data-target="#mobile_nav" aria-controls="mobile_nav" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span> 
            </button>
            <div class="navbar-collapse" id="mobile_nav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 float-md-right">
                <li class="nav-item megamenu-li all-service-menu">
                    <span class="nav-link" id="dropdown01" (click)="toggleMenu()">All Services</span>
                    <div *ngIf="megaMenu" class="dropdown-menu megamenu sm-menu border-top">
                        <div class="dropdown-wrapper">
                            <div class="f-block">
                                <div class="h-menu-block">
                                    <h6>Recent History</h6>
                                    <ul>
                                        <li><a class="dropdown-item" href="#"> Search/Market Information/Admin</a></li>
                                        <li><a class="dropdown-item" href="#"> User Documentation/Admin/Distribution List</a>  </li>
                                    </ul>
                                </div>
                                
                            </div>
                            <div class="mm-block">
                                <div class="m-block border-right mb-4">
                                    <h6>Search</h6>
                                    <a class="dropdown-item" href="#"> Quick Search</a>
                                    <a class="dropdown-item" href="#"> Building Search</a>
                                    <a class="dropdown-item" href="#"> Party Search</a>
                                    <a class="dropdown-item" href="#"> Map Properties</a>
                                    <a class="dropdown-item level-1" href="#"> Market Information
                                        <ul class="dropdown-level-1">
                                            <li><span>Sales/Rent/Expense Comparables & Market Reports</span></li>
                                            <li><span>Retail Anchor Tenant Store Sales Data</span></li>
                                            <li><span>Admin</span></li>
                                        </ul>
                                    </a>
                                    <a class="dropdown-item" href="#"> Report Dictionary</a>
                                    <a class="dropdown-item" href="#"> Tenant Search</a>
                                </div>
                                <div class="m-block border-right mb-4">
                                    <h6>My Options</h6>
                                    <a class="dropdown-item" href="#"> My Approvals</a>
                                    <a class="dropdown-item" href="#"> My Dashboard</a>
                                    <a class="dropdown-item" href="#"> My Deals</a>
                                    <a class="dropdown-item" href="#"> My Last Twenty</a>
                                    <a class="dropdown-item" href="#"> My Loans</a>
                                    <a class="dropdown-item" href="#"> My Records Mgt Requests</a>
                                    <a class="dropdown-item" href="#"> My Reminders</a>
                                    <a class="dropdown-item" href="#"> My Reports</a>
                                    <a class="dropdown-item" href="#"> My Subscriptions</a>
                                </div>
                                <div class="m-block border-right mb-4">
                                    <h6>User Documentation</h6>
                                    <a class="dropdown-item" href="#"> iSearch</a>
                                    <a class="dropdown-item" href="#"> Asset Management SOP</a>
                                    <a class="dropdown-item" href="#">Compliance SOP</a>
                                    <a class="dropdown-item" href="#"> Corporate Governance</a>
                                    <a class="dropdown-item" href="#">Delegation of Authority</a>
                                    <a class="dropdown-item" href="#"> Forms & Exhibits</a>
                                    <a class="dropdown-item" href="#">Information Technology SOP</a>
                                    <a class="dropdown-item" href="#"> Investment & Risk SOP</a>
                                    <a class="dropdown-item" href="#"> Investment Management Agreements</a>
                                    <a class="dropdown-item" href="#">Models</a>
                                    <a class="dropdown-item" href="#"> Origination SOP</a>
                                    <a class="dropdown-item" href="#">General Information</a>
                                    <a class="dropdown-item" href="#">User Guides</a>
                                    <a class="dropdown-item" href="#">Archive</a>
                                    <a class="dropdown-item level-1" href="#"> Admin
                                        <ul class="dropdown-level-1">
                                            <li><span>Distribution List</span></li>
                                            <li><span>Document Group</span></li>
                                            <li><span>Category</span></li>
                                            <li><span>Document Group Categories</span></li>
                                        </ul>
                                    </a>
                                </div>
                                <div class="m-block">
                                    <h6>Documents</h6>
                                </div>
                                <div class="m-block border-right mb-4">
                                    <h6>PruXchange</h6>
                                </div>
                               <div class="m-block border-right mb-4">
                                    <h6>Origination</h6>
                                </div>
                                <div class="m-block mb-4">
                                    <h6>Asset Management & Servicing</h6>
                                </div>
                                <div class="m-block mb-4 border-right">
                                    <h6>Accounting & Finance</h6>
                                </div>
                                <div class="m-block border-right mb-4">
                                    <h6>Risk Management</h6>
                                </div>
                               <div class="m-block border-right mb-4">
                                    <h6>Trade Management</h6>
                                </div>
                                <div class="m-block mb-4">
                                    <h6>Management Reporting</h6>
                                </div>
                                <div class="m-block border-right mb-4">
                                    <h6>Workflow & Requests</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav navbar-light">
                <li class="nav-item dmenu dropdown">
                    <a title="Search" class="nav-link" href="#">
                        <search-input></search-input>
                    </a>
                </li>
                <li class="nav-item dmenu dropdown">
                    <a title="Notification" class="nav-link" href="#">
                        <kendo-svg-icon class="icon" [icon]="icons.bell"></kendo-svg-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a title="Graph" class="nav-link" href="#">
                        <kendo-svg-icon class="icon" [icon]="icons.graph"></kendo-svg-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a title="Add" class="nav-link" href="#">
                        <kendo-svg-icon class="icon" [icon]="icons.fileAdd"></kendo-svg-icon>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <secondary-menu class="secondary-nav-wrapper"></secondary-menu>
    <main class="col-xs-12 p-4 py-md-5">
        <router-outlet></router-outlet>
    </main>
</div>
