
.side-menu{
  width: 300px;
  background: #fff;
  height: 100vh;
  position: absolute;
  top: 100%;
  transition: all 0.3s ease;
  left: -100%;
  box-shadow: 0 0 15px 0px #80808052;
  p{
      text-align: left;
      padding-left: 35px;
      padding-top: 10px;
      margin-bottom: 4px;
      color: #d9b860;
      font-size: 14px;
      font-weight: bold;
  }
}
.accordion {
    width: 100%;
    max-width: 360px;
    margin: auto;
    background: #fff;
    padding:0;
    list-style: none;
  }
  
  .accordion .menu {
    position: relative;
    padding: 5px 15px 5px  15px;
    color: #4d4d4d;
    font-weight: bold;
    // border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.4s ease;
    text-align: left;
    font-size: 0.8rem;
  }
  
  .accordion li:last-child .menu {
    border-bottom: 0;
  }
  
  .accordion li i {
    position: absolute;
    top: 0.5rem;
    left: 0.8rem;
    color: #595959;
    transition: all 0.4s ease;
  }
  .accordion li {
      .side-menu-caret{
          color: #2a3944;
          transform: rotate(0deg);
          transform: all 0.5s ease;
      }
      &.active{
        .side-menu-caret{
            transform: rotate(90deg);
        }
      }
  }
  .accordion li i.fa-chevron-down {
    right: auto;
    left: 1rem;
  }
  
  .accordion li.active i.fa-chevron-down {
    transform: rotate(180deg);
  }
  
  .accordion li.active .menu {
    color:  #293843;
    // background: #0b629c;
  }
  
  .accordion li.active i {
    color: #b63b4d;
  }
  
  /* Show submenu */
//   .accordion li.active .submenu {
//     /*
//       height: 0 -> height: auto;는 transition이 동작하지 않는다.
//       max-height: 임의의 높이;를 지정하면 transition이 동작하지만 타이밍이 망가진다.
//       max-height: 1000px;과 max-height: 133px;을 비교해 보라!
//       height를 1000px으로 transition할 시간에 실제로는 133px정도만 transition하므로 여는 시간이 닫는 시간보다 빠르다.
//     */
//     /* max-height: 1000px; */
//     /* max-height: 133px; */
//   }
  
  .submenu {
    height: 0;
    overflow: hidden;
    background: #fff;
    font-size: 14px;
    transition: height 0.4s ease;
    list-style: none;
    padding: 0;
    text-align: left;
  }
  
  .submenu li {
    border-bottom: 1px solid #d4d4d43d;
  }
  
  .accordion li:last-child .submenu {
    border-radius: 0 0 4px 4px;
  }
  
  .accordion li:last-child .submenu li:last-child {
    border-bottom: 0;
  }
  
  .submenu a {
    display: block;
    text-decoration: none;
    color: #0c619b;
    padding: 4px;
    padding-left: 40px;
    font-size: 0.8rem;
    transition: all 0.25s ease-in-out;
  }
  
  .submenu a:hover {
    background: #fff;
    color:  #293843;
    transition: all 0.3s ease;
  }